*~
.DS_Store
extensions/bg/deck.bg.css
extensions/bg/deck.bg.js
extensions/toc/deck.toc.js
extensions/toc/grid.toc.js
index.css
index.js
progress/
.sass-cache/
themes/style/eob.css
themes/style/swiss-eob.css
themes/transition/horizontal-slide-eob.css
img/api-server.png
img/arch-comp.png
img/cluster.png
img/deploy.png
img/model.png
img/modules.png
img/riak.png
img/ui-arch.png
img/ui-local.png
img/ui-remote.png
img/*.png_icon
