.main-figure {
}

img.slide {
    width: 60%;
    float: right;
}

/*
img.slide.deck-current {
    width:50%;
    height:auto;
    float:right;
}
img.slide.deck-previous {
    width:100%;
    height:auto;
}
*/
.XXXmain-figure.too-high {
    width:auto;
}